* {
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #007BA7;
    --accent-color: #e74c3c;
    --background-color: #ecf0f1;
    --text-color: #34495e;
}

header {
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.logo {
    height: 120px;
    width: 120px;
}

nav a {
    font-size: smaller;
    text-decoration: none;
    margin-right: 20px;
    color: var(--primary-color);
}

body {
    font-family: Montserrat, sans-serif;
}

main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
    background-color: var(--background-color);

}

section {
    margin-bottom: 60px;
}

.welcome {
    display:inline ;
    align-items: center;
    justify-content: space-evenly;
    color: var(--primary-color);
    font-size: small;
}

.hero {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;
    color: var(--text-color);
}

.hero-text {
    position: absolute;
    top: 30%;
    right: 20px;
    transform: translate(-50%, -50%);
    text-align: right;
}

.hero img {
    height: 100%;
    width: 100%;
}

.hero p {
    font-family: Arial, sans-serif;
}

.action-button {
    padding: 12px 24px;
    background-color: var(--accent-color);
    color: #fff; 
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    outline: none;   
}

h2 {
    color: var(--primary-color);
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--text-color);
    color: #fff;
}

footer p {
    font-size: smaller;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.nav-links {
    display: none;
}

.spotlights div {
    display:flex ;
    align-items: center;
    justify-content: space-evenly;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

