* {
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #007BA7;
    --accent-color: #e74c3c;
    --background-color: #ecf0f1;
    --text-color: #34495e;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
}

* ::before, ::after {
  box-sizing: border-box;
}

header {
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

}

.logo {
    height: 120px;
    width: 120px;
}

nav a {
    font-size: smaller;
    text-decoration: none;
    margin-right: 20px;
    color: var(--primary-color);
}

nav a:hover {
  color: var(--accent-color)
}

body {
    font-family: Montserrat, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
	margin: 0;
  grid-gap: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
    background-color: var(--background-color);

}

section {
    margin-bottom: 60px;
}


.welcome {
    display:inline ;
    align-items: center;
    justify-content: space-evenly;
    color: var(--primary-color);
    font-size: small;
}

.hero {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;
    color: var(--text-color);
    grid-column: span 3
}

.spotlights {
  position: relative;
  text-align: center;
  grid-column: span 3;
}

.current-events{
  grid-column: span 2;
}

.hero-text {
    position: absolute;
    top: 30%;
    right: 0%;
    transform: translate(-50%, -50%);
    text-align: right;
    object-fit: cover;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero p {
    font-family: Arial, sans-serif;
}

.action-button {
    padding: 12px 24px;
    background-color: var(--accent-color);
    color: #fff; 
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    outline: none;   
}

h2 {
    color: var(--primary-color);
}

h3 {
  font-weight: 600;
  color: var(--primary-color);
}

.demographics {
  margin: auto;
  width: 380px;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2); 
}

div img {
  border-radius: 8px;
}

picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Calendar */

.calendar {
  margin: auto;
  width: 380px;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2); 
}

#prev, #next {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

#prev:hover, #next:hover {
  background-color: #0056b3;
}


.calendar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.calendar ul li {
  width: calc(100% / 7);
  margin-top: 25px;
  position: relative;
  z-index: 2;
}

#prev, #next {
  width: 20px;
  height: 20px;
  position: relative;
  border: 0;
  background: transparent;
  cursor: pointer;
}

#prev::before, #next::before {
  content: "";
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: #ccc;
}

#next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

#prex:hover::before, #next:hover::before{
  border-color: #000;
}

.days {
  font-weight: 600;
}

.dates li.today {
  color: #fff;
}

.dates li.today::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
  z-index: -1;
}

.days li.inactive {
  color: #ccc;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--text-color);
    color: #fff;
}

footer p {
    font-size: smaller;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.nav-links {
    display: none;
}

.spotlights div {
    display:flex ;
    align-items: center;
    justify-content: space-evenly;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .discover {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .sidebar {
    grid-template-rows: 1fr 1fr 1fr;
  }

/* Weather section*/

.current-events, .weather, .spotlights {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-top: 20px;
}


.weather p {
  font-size: 16px;
  margin-bottom: 5px;
}

.weather #current-temp {
  font-size: 24px;
  font-weight: bold;
}

.weather figure {
  margin: 20px 0;
  text-align: center;
}

.weather img#weather-icon {
  width: 30px;
  height: 30px; 
  margin-bottom: 10px;
}

.weather figcaption {
  font-size: 14px;
}

.weather p span {
  font-weight: bold;
}

.weather img.weather-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  
  margin: 20px auto;
  border-radius: 8px;
}
