body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #EFFFDD;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


main {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0;
}

header img {
    max-width: 15%;
    height: auto;    
    border-radius: 10%;
    margin-bottom: 10px;
    padding: 10px;
    border-top-left-radius: 30%; 
}

h1 {
    margin: 0;
    text-align: center;
}

nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;

}

nav a {
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color: #006400;
}

nav a:hover {
    background-color: #006400;
    color: #fff;

}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
    
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #405897);
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    border-radius: 8px;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
}

img {
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
  }

.info-list {
    list-style: none;
    padding: 0;
}

.info-list li {
    margin-bottom: 5px;
}

.location {
    margin-top: 20px;
}

.location iframe {
    border: none;
    border-radius: 20px 0;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #006400;
}

.card h3 {
    margin-bottom: 10px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 30px;

}

.card-container {
    display: flex;
    flex-direction: column;
}

iframe {
    border: 0;
    width: 400px;
    height: 300px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff
}

a {
    display: inline-block;
    color: #006400;
    margin: 0 10px;
}

#temperature {
    display: inline-block;
    margin-bottom: 15px;
}

#current-temp {
    display: inline-block;
    margin-right: 10px;
}

#weather-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

figure, figcaption {
    display: inline-block;
    margin: 0;
}





@media (width < 600px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media (width >= 600px) or (orientation: landscape) {
    
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .card:nth-child(1) {
        grid-column: 1;
    }
}